*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
}
:root{
    --fondo: rgba(0,0,0,1);
    --texto: rgba(255,255,255,1);
    --textoConsola: green;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    color: var(--texto);
    background: var(--fondo);
    width: 100%;
    height: 100vh;
    font-size: 16px;
}
.cont__ppl{
    width: 100%;
    height: 100%;
}
/* >>>>> -->>>>> ----- contenedor ----- <<<<<-- <<<<< */

.pocke__drunk{
    position: relative;

    width: 95%;
    max-width: 480px;
    height: 80vh;
    min-height: 500px;
    background: red;
    border-radius: 0.9375em;
    box-shadow: 0.41em 0 0px 0 rgb(97, 2, 2),
                0.41em 0.80em 0px 0 rgb(97, 2, 2),
                0 0.80em 0px 0 rgb(97, 2, 2);
    overflow: hidden;
}
/* >>>>> -->>>>> ----- header ----- <<<<<-- <<<<< */
.header{
    width: 100%;
    height: 15%;
    padding: 5%;
}
.title__header{
    font-size: 2em;
    line-height: 0.46875em;
    text-align: center;
    width: calc(100% - 0.78125em);
    height: 100%;
    padding-left: 0.78125em;
}
.design{
    font-size: 0.3em;
    font-family: cursive;
    font-style: italic;
}
.cont__btn__power{
    width: 3.125em;
    height: 100%;
}
/* >>>>> -->>>>> ----- pantalla ----- <<<<<-- <<<<< */

.pantalla{
    position: relative;

    width: 95%;
    height: 60%;
    margin: 0 auto;

    color: var(--textoConsola);
    background: #000;
    border-radius: 0.625em;
    border: solid 0.625em #ccc;
    font-family: consolas;
    padding: 0.625em;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0.3125em 0.3125em 5px 0 rgba(0, 0, 0, 0.5);
}
.pantalla.on{
    background: url(../media/img/tacos.jpg) #ccc;
    background-size: cover;
    backdrop-filter: blur(5px);
    box-shadow: 0.3125em 0.3125em 5px 0px rgba(0, 0, 0, 0.5),
                inset 0.50em 0.50em 0 0 #000,
                inset -0.50em -0.50em 0 0 #000;
}
.cont__text{
    display: none;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: rgba(255,255,255, 0);
}
.cont__text.on{
    display: block;
    animation: fondoApp 0.5s ease 0.2s forwards;
}
@keyframes fondoApp{
    100%{
        background: rgba(255,255,255,0.9);
    }
}
.data__info{
    flex-wrap: wrap;
}
.data__info span{
    width: 100%;
}
.cont__img{
    width: 100%;
    height: 40%;
}
.foto-perfil{
    width: 100%;
    object-fit: contain;
}
/* >>>>> -->>>>> ----- cuerpo ----- <<<<<-- <<<<< */

.cuerpo{
    position: absolute;

    top: 75%;
    left: 3%;
    right: 3%;

    height: 25%;
}
/* >>>>> -->>>>> ----- luces ----- <<<<<-- <<<<< */
.luces{
    width: 100%;
    height: 33.3%;
    padding: 5px 20px;
}
[class^="led"]{
    display: inline-block;
    border-radius: 50%;
    background: #000;
    border: solid 0.17em #ccc;

}
.led__gd{
    width: 2.917em;
    height: 2.917em;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.7),
                inset 2px 2px 5px 1px rgba(255,255,255, 0.7),
                inset -2px -2px 5px 1px rgba(255,255,255, 0.5);
}
.led__ch{
    width: 0.9375em;
    height: 0.9375em;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.7),
                inset 1px 1px 2px 1px rgba(255,255,255, 0.5),
                inset -2px -2px 5px 1px rgba(255,255,255, 0.2);
    border: solid 0.10em #ccc;
}
.led__gd.active{
    background: red;
}
.led__ch.active:nth-child(2){
    background: blue;
}
.led__ch.active:nth-child(3){
    background: purple;
}
.led__ch.active:nth-child(4){
    background: yellow;
}
@keyframes luz{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}

/* >>>>> -->>>>> ----- controles ----- <<<<<-- <<<<< */

.controles{
    width: 100%;
    height: 66.6%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    background: url(../media/img/cheches.jpg);
    background-position: center;
    background-size: cover;
}
[class^="btn"]{
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}
[class^="btn"] i{
    color: #fff;
}
[class^="btn"]:active{
    animation: pushBtn 0.3s linear;
}
@keyframes pushBtn{
    100%{
        transform: translateY(0.25em);
        box-shadow: 0 0em 0 0px rgb(1, 1, 82);
    }
}
.btn__power{
    background: tomato;
    width: 2.5em;
    height: 2.5em;
    background: #fff;
    box-shadow: 0 0.15625em 0 0px rgb(135, 135, 136);
}
.btn__power i{
    color: #000;
    font-size: 0.9375em;
}
.btn__ir{
    width: 3.50em;
    height: 3.50em;
    background: blue;
    box-shadow: 0 0.25em 0 0px rgb(1, 1, 82);
}
.btn__erase{
    width: 2.916em;
    height: 2.916em;
    background: orange;
    box-shadow: 0 0.25em 0 0px rgb(99, 65, 1);
    margin-right: 0.5em;
}
/* >>>>> -->>>>> ----- formulario ----- <<<<<-- <<<<< */
input{
    background: none;
    border: none;
    outline: none;

    color: green;
    font-size: 1em;
    font-family: consolas;
}
input[type="submit"]{
    display: none;
}
/* >>>>> -->>>>> ----- video on ----- <<<<<-- <<<<< */

.video__on{
    width: 0px;
    height: 0px;
    object-fit: cover;
    border-radius: 50%;
}
/* >>>>> -->>>>> ----- despedida ----- <<<<<-- <<<<< */
.imagen__off{
    width: 100%;
    height: 100%;
    animation: off 0.5s ease 1.5s forwards;
}
.imagen__off.off{
    border-radius: 50%;
    width: 0px;
    height: 0px;
    animation: on 0.5s ease forwards;
}
@keyframes off{
    100%{
        border-radius: 50%;
        width: 0px;
        height: 0px;
    }
}
@keyframes on{
    100%{
        border-radius:0%;
        width: 100%;
        height: 100%;
    }
}

@keyframes openVideo{
    50%{
        border-radius: 50%;
    }
    100%{
        border-radius:0%;
        width: 100%;
        height: 100%;
    }
}


@media (min-width:480px){
    body{
        font-size: 32px;
    }
    .design{
        display: block;
        transform: translateY(-01px);
    }
    .pantalla{
        font-size: 0.625em;
    }
    [class^="led"]{
        font-size: 0.5em;
    }
    .btn__ir{
        font-size: 0.80em;
    }
    .btn__erase{
        font-size: 0.75em;
    }
}